.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 70px;
   
    

    span{
       color: rgb(111, 247, 76);
    }

    .head-logo{
        width: 100px;
        height: 35px;
        font-size: 23px; 
    }

    a{
        color: aliceblue;
        text-decoration: none;
        
    }

    .links{
        width: 300px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;

    }
}