
 
<div class="first-section">

    <div class="left-container">
        <img class="my-profile" src="./assets/img/profile11.png"  alt="">
    </div>
    
    <div class="right-container"> 
        <div class="rotated-div">
            <p class="rotated-text">I am</p>
        </div>
        <div class="main-titles">
            <h1>Arsen Tasha</h1>
            <h2>Frontend Developer</h2>
            
                <button class="button-click"> 
                    <a href="#contact">
                       Let's Talk
                    </a>
                </button>
        
        </div>
    </div>
</div>  

<img class="vector" src="./assets/img/vec.png" alt="">

<div class="social-media"><hr>
    <img src="./assets/img/github.png" alt="">
    <img src="./assets/img/message.png" alt="">
    <img src="./assets/img/linkedin.png" alt="">
    <a href="#">Arsentasha@yahoo.com</a>
</div>


<app-about-me-section></app-about-me-section>
<app-my-skills-section></app-my-skills-section>
<app-project-one></app-project-one>
<app-project-two></app-project-two>
<app-project-three></app-project-three>
<app-contact-section></app-contact-section>