<img  class="fade-right" src="./assets/img/fade5.png" alt="">

<div class="main-container" id="skills">
    <div class="left-container">
        <div class="under-left" *ngFor="let photo of photos; let photoName of photoNames;let i = index;" >
        <img class="photo-skill" src="./assets/img/{{photo}}.png" alt="">
        <p>{{photoName}}</p>
    </div>
       
        
    </div>

    <div class="right-container">

        <div class="under-title">
            <h1>My Skills</h1>
             <hr>
        </div>
        
        <p class="text">I have gained experience in building projects with various front end technologies and concepts</p>
    <div class="button">
        <button class="first-button"> 
            <a href="#contact">
                Get In Touch
            </a>
        </button>
    </div>
    </div>

    <img class="fade-left" src="./assets/img/fade6.png" alt="">
    
</div>




