
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

    h1{
        color: rgb(151, 71, 255);
        font-size: 32px;
    }

    h2{
        color: greenyellow;
    }
    p{
        width: 513px;
        height: 57px;
        color: white;
        text-align: left;
        font-size: 16px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        width: 350px;

        .first-button{
            width: 150px;
            height: 58px;
            background-color:  rgb(151, 71, 255);
            border: none;
            border-radius: 10px;

            &:hover{
                background-color: rgba(112, 230, 28, 1);
            }
        
            a{
                text-decoration: none;
                font-size: 23px;
                color: white;
            }
        }


        .second-button{
            width: 150px;
            height: 58px;
            border: 1px rgba(112, 230, 28, 1) solid ;
            border-radius: 10px;
            background-color: #141D2f;

            &:hover{
                background-color: rgba(112, 230, 28, 1);
            }

            a{
                text-decoration: none;
                font-size: 23px;
                color: white;
            }
        }

    }
}


.right-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 220px;
}


.fade-top{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 456px;
    height: 648px;
 }

